<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

<!--        <title>{{partner}}-Dostyq</title>-->
        <title>Dostyq</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="img/favicon.ico">
		<style>
      		body {
        		font-family: 'Roboto', serif;
        		font-size: 150px;
      		}
    	</style>
		
    </head>

    <body>


    <!-- Header -->
    <header class="align--center pt3">
        <div class="container--lg border--bottom pb3">
<!--			<img class="logo" width={{logo_width}} src="{{partner_logo}}">-->
			<img class="logo" width=100 src="img/dostyq.png">
			<h4 class="mb2"> </h4>
<!--            <h4 class="mb2">{{ partner }} & DOSTYQ</h4>-->
			<h3 class="mb2">DOSTYQ тіркелу</h3>
			<h3 class="mb2">Зарегистрируйтесь в DOSTYQ</h3>
            <span>
                <a href="https://apps.apple.com/kz/app/dostyq/id1578849589" class="link"><img class="download" width=150 src="img/ios.png" alt="Download on the App Store"></a>
            </span>
            <span>
                <a href="https://github.com/x7895123/dostyq/raw/main/dostyq.apk" class="link"><img class="download" width=170 src="img/android-logo.png" alt="Download for Android"></a>
            </span>
        </div>
    </header>


    </body>
</html>

