- op: add
  path: /spec/template/spec/containers/0/image
  value: PPPPPP

- op: add 
  path: /spec/template/metadata/labels/version
  value: YYYYYY

- op: add 
  path: /metadata/labels/version
  value: YYYYYY

